.nav-sidebar{
    margin: 70px -20px 20px 20px;
}
.nav-sidebar>li >a{
    padding: 20px 20px;
}
/*
.sidebar{
    display: none;
}*/

.main{
    margin-top: 50px;
}
.placeholders{
    margin-top: 10px;
    margin-bottom: 30px;
}

.placeholder img{
    display: inherit;
    border-radius: 50%;
}